* {
    margin: 0;
    padding: 0;

}

body {
    background-image: url(../imagens/23869881_6857762.jpg);
    background-position: left bottom;
    background-attachment: fixed;
    transition-duration: .9s;
width: ;
height: 100vh;
}

.designer-imagem {
    max-width: 80px;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    border: .8px solid white;
    margin: auto;
    display: flex;
}

/* Rest of your styles here */


/* Rest of your styles here */


body, html {
    transition-duration: .9s;
    height: 100vh;
    width: 50vw;


}

.designer-imagem {
    max-width: 100%;
    position: relative;
    border-radius: 50%;
    height: 60px;
    width: 60px;

    display: flex;
    border: .8px solid white;
    top: 85px;
    left: 20px;
}
.designer-p-1{
    position: relative;
left: 150px;
    text-align: center;
color: rgba(255, 255, 255, 0.908);
top: 30px;
font-size: 1.1em;
}
.designer-p-2{
    text-align: center;
color: rgba(255, 255, 255, 0.908);
font-size: 1em;
position: relative;
left: 150px;
top: 35px;
}
.designer-infor{
    position: relative;
   text-align: center;
color: white;
font-size: 1.2em;
left: 130px;
top: 180px;
}
.link-designer {
    display: inline-block;
    text-decoration: none;
    color: white;
    position: relative;
    height: 80px;
    width: 390px;
    padding: 30px;
    border: 2px solid white;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
    transform-origin: center center; /* Define o ponto central como origem da transformação */
    overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
    top: 300px;
left: 5px;
display: flex;
}

.link-designer:hover,
.link-designer:active {
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo com transparência */
}

.link-designer:active {
    background-color: rgba(255, 255, 255, 0.4); /* Cor de fundo mais clara quando pressionado */
    transform: scale(1.1); /* Aumenta a escala para criar o efeito de expansão */
}




.strong-1{
    position: relative;
    top: 10px;
    left: 160px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: relative;
top: 40px;
}
.div-1{
    position: relative;
    border: 2px solid white; 
    border-radius: 10px;
padding: 10px;
    text-align: right;
    width: 300px;
    height: 100px;
    top: 300px;
    left: 490px;
}
.designer-imagem-2{

    position: absolute;
    max-width: 70px;
    left: 0px;
    top: 270px;

}


@media (max-width: 768px) {
    /* Para dispositivos com largura máxima de 768px (geralmente dispositivos móveis) */
    .designer-imagem {
        top: 20px; /* Ajuste conforme necessário */
        left: 4px; /* Ajuste conforme necessário */
    }
}
@media  (max-width: 768px) {
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid rgb(255, 255, 255);
        top: 50px;
        left: 215px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;

font-size: .9em;
text-align: center;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1em;

top: 40px;

    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;

    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 100px;
text-align: center;
left: 95px;
    }
    
.strong-1{
    position: relative;
    top: -40px;
    left: 95px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;
width: 400px;
left: 40px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: -190px;
    top: 0px;
}
title{
    background-color: black;
    color: white;
}
}
@media (max-width: 374px) {
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid white;
        top: 50px;
        left: 15px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;
left: 115px;
font-size: .9em;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1em;
left: 25px;
top: 40px;
width: 300px;
    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;
    left: 115px;
    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 100px;
text-align: center;
left: 7px;
    }
    
.strong-1{
    position: relative;
    top: -40px;
    left: 95px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;
width: 400px;
left: 40px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: -190px;
    top: 0px;
}
title{
    background-color: black;
    color: white;
}
    /* Estilos para dispositivos com largura máxima de 768px (geralmente dispositivos móveis) */

    /* iPhone SE, 5, 5S, 5C */
    /* Largura: 320px, Altura: 568px */

    /* Google Pixel 2 */
    /* Largura: 411px, Altura: 731px */

    /* iPhone 6, 6S, 7, 8, X */
    /* Largura: 375px, Altura: 667px */

    /* iPhone 6 Plus, 6S Plus, 7 Plus, 8 Plus */
    /* Largura: 414px, Altura: 736px */

    /* Google Pixel 2 XL */
    /* Largura: 411px, Altura: 823px */

    /* Samsung Galaxy S8, S9 */
    /* Largura: 360px, Altura: 740px */

    /* Samsung Galaxy S8+, S9+ */
    /* Largura: 412px, Altura: 846px */

    /* iPhone 11, XR */
    /* Largura: 414px, Altura: 896px */

    /* iPhone 11 Pro, XS, X */
    /* Largura: 375px, Altura: 812px */

    /* iPhone 11 Pro Max, XS Max */
    /* Largura: 414px, Altura: 896px */

    /* Google Pixel 3, 3a */
    /* Largura: 393px, Altura: 786px */

    /* Google Pixel 3 XL, 3a XL */
    /* Largura: 412px, Altura: 823px */

    /* Samsung Galaxy S10 */
    /* Largura: 360px, Altura: 760px */

    /* Samsung Galaxy S10+ */
    /* Largura: 412px, Altura: 869px */

    /* Samsung Galaxy S10e */
    /* Largura: 360px, Altura: 740px */

    /* Google Pixel 4 */
    /* Largura: 411px, Altura: 869px */

    /* Google Pixel 4 XL */
    /* Largura: 411px, Altura: 952px */

    /* Samsung Galaxy S20 */
    /* Largura: 320px, Altura: 640px */

    /* Samsung Galaxy S20+ */
    /* Largura: 384px, Altura: 849px */

    /* Samsung Galaxy S20 Ultra */
    /* Largura: 412px, Altura: 915px */
}
@media (min-width: 375px) and (max-width: 425px) {
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid white;
        top: 50px;
left: 30px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;
left: 115px;
font-size: .9em;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1em;
left:35px;
top: 40px;
width: 300px;
    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;
    left: 115px;
    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 100px;
text-align: center;
left: 14px;
    }
    
.strong-1{
    position: relative;
    top: -40px;
    left: 95px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;
width: 400px;
left: 40px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: -190px;
    top: 0px;
}
title{
    background-color: black;
    color: white;
}
}
@media (min-width: 426px) and (max-width: 427px) {
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid white;
        top: 50px;
left: 40px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;
left: 125px;
font-size: .9em;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1em;
left:60px;
top: 40px;
width: 300px;
    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;
    left: 125px;
    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 100px;
text-align: center;
left: 40px;
    }
    
.strong-1{
    position: relative;
    top: -40px;
    left: 95px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;
width: 400px;
left: 40px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: -190px;
    top: 0px;
}
title{
    background-color: black;
    color: white;
}
}

@media (min-width: 387px) and (max-width: 425px) {
    .designer-imagem {
        position: relative;
        top: 50px; /* Ajuste conforme necessário */
        left: 20px; /* Ajuste conforme necessário */
    }
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid white;
        top: 50px;
left: 30px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;
left: 115px;
font-size: .9em;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1em;
left:35px;
top: 40px;
width: 300px;
    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;
    left: 115px;
    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 100px;
text-align: center;
left: 18px;
    }
    
.strong-1{
    position: relative;
    top: -40px;
    left: 95px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;
width: 400px;
left: 40px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: -190px;
    top: 0px;
}
title{
    background-color: black;
    color: white;
}
}
@media  (max-width: 768px) {

}
@media (max-width: 374px) {
}
@media (min-width: 375px) and (max-width: 425px) {

}
@media (min-width: 382px) and (max-width: 425px) {

}
@media (min-width: 383px) and (max-width: 386px) {
    .designer-imagem {
        position: relative;
        top: 50px; /* Ajuste conforme necessário */
        left: 20px; /* Ajuste conforme necessário */
    }
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid white;
        top: 50px;
left: 30px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;
left: 115px;
font-size: .9em;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1em;
left:35px;
top: 40px;
width: 300px;
    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;
    left: 115px;
    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 100px;
text-align: center;
left: 18px;
    }
    
.strong-1{
    position: relative;
    top: -40px;
    left: 95px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;
width: 400px;
left: 40px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: -190px;
    top: 0px;
}
title{
    background-color: black;
    color: white;
}
}
@media (min-width: 411px) and (max-width: 424px) {
    .designer-imagem {
        position: relative;
        top: 50px; /* Ajuste conforme necessário */
        left: 20px; /* Ajuste conforme necessário */
    }
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid white;
        top: 50px;
left: 30px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;
left: 115px;
font-size: .9em;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1em;
left:35px;
top: 40px;
width: 300px;
    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;
    left: 115px;
    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 100px;
text-align: center;
left: 28px;
    }
    
.strong-1{
    position: relative;
    top: -40px;
    left: 95px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;
width: 400px;
left: 40px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: -190px;
    top: 0px;
}
title{
    background-color: black;
    color: white;
}
}
@media (min-width: 400px) and (max-width: 420px) {
    .designer-imagem {
        position: relative;
        top: 50px; /* Ajuste conforme necessário */
        left: 20px; /* Ajuste conforme necessário */
    }
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid white;
        top: 50px;
left: 30px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;
left: 115px;
font-size: .9em;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1em;
left:35px;
top: 40px;
width: 300px;
    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;
    left: 115px;
    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 100px;
text-align: center;
left: 10px;
    }
    
.strong-1{
    position: relative;
    top: -40px;
    left: 95px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;
width: 400px;
left: 40px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: -190px;
    top: 0px;
}
title{
    background-color: black;
    color: white;
}

}
@media (min-width: 381px) and (max-width: 382px) {
    .designer-imagem {
        position: relative;
        top: 50px; /* Ajuste conforme necessário */
        left: 20px; /* Ajuste conforme necessário */
    }
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid white;
        top: 50px;
left: 30px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;
left: 115px;
font-size: .9em;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1em;
left:35px;
top: 40px;
width: 300px;
    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;
    left: 115px;
    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 100px;
text-align: center;
left: 18px;
    }
    
.strong-1{
    position: relative;
    top: -40px;
    left: 95px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;
width: 400px;
left: 40px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: -190px;
    top: 0px;
}
title{
    background-color: black;
    color: white;
}
}
@media (min-width: 411px) and (max-width: 424px) {
    .designer-imagem {
        position: relative;
        top: 50px; /* Ajuste conforme necessário */
        left: 20px; /* Ajuste conforme necessário */
    }
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid white;
        top: 50px;
left: 28px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;
left: 115px;
font-size: .9em;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1em;
left:35px;
top: 40px;
width: 300px;
    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;
    left: 115px;
    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 100px;
text-align: center;
left: 33px;
    }
    
.strong-1{
    position: relative;
    top: -40px;
    left: 95px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;
width: 400px;
left: 40px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: -190px;
    top: 0px;
}
title{
    background-color: black;
    color: white;
}
}
@media (min-width: 359px) and (max-width: 410px) {

}
@media (min-width: 388px) and (max-width: 410px) {
    .designer-imagem {
        position: relative;
        top: 50px; /* Ajuste conforme necessário */
        left: 20px; /* Ajuste conforme necessário */
    }
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid white;
        top: 50px;
left: 30px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;
left: 115px;
font-size: .9em;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1em;
left:35px;
top: 40px;
width: 300px;
    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;
    left: 115px;
    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 100px;
text-align: center;
left: 28px;
    }
    
.strong-1{
    position: relative;
    top: -40px;
    left: 95px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;
width: 400px;
left: 40px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: -190px;
    top: 0px;
}
title{
    background-color: black;
    color: white;
}
}
@media (min-width: 425px) and (max-width: 525px) {
    .designer-imagem {
        position: relative;
        top: 50px; /* Ajuste conforme necessário */
        left: 20px; /* Ajuste conforme necessário */
    }
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid white;
        top: 50px;
left: 28px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;
left: 115px;
font-size: .9em;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1em;
left:45px;
top: 40px;
width: 300px;
    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;
    left: 115px;
    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 100px;
text-align: center;
left: 35px;
    }
    
.strong-1{
    position: relative;
    top: -40px;
    left: 95px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;
width: 400px;
left: 40px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: -190px;
    top: 0px;
}
title{
    background-color: black;
    color: white;
}
}