* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../imagens/969813_OG49MM0.jpg);
    background-position: left center;
    background-attachment: fixed;
    transition-duration: .9s;
}

body, html {
    transition-duration: .9s;
    height: 100vh;
    width: 50vw;
}

.designer-imagem {
    max-width: 100vw;
    position: relative;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: auto;
    display: flex;
    border: .8px solid white;
    top: 200px;
    left: 300px;
}
.designer-p-1{
    position: relative;
left: 300px;
    text-align: center;
color: rgba(255, 255, 255, 0.908);
top: -10px;
}
.designer-p-2{
    text-align: center;
color: rgba(255, 255, 255, 0.908);
font-size: 2em;
position: relative;
left: 300px;
}
.designer-infor{
    position: relative;
   text-align: center;
color: white;
font-size: 1.2em;
left: 310px;
top: 180px;
}
.link-designer {
    display: inline-block;
    text-decoration: none;
    color: white;
    position: relative;
    height: 80px;
    padding: 20px;
    border: 2px solid white;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
    transform-origin: center center; /* Define o ponto central como origem da transformação */
    overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
    top: 300px;
left: 460px;
}

.link-designer:hover,
.link-designer:active {
    background-color: rgba(255, 255, 255, 0.2); /* Cor de fundo com transparência */
}

.link-designer:active {
    background-color: rgba(255, 255, 255, 0.4); /* Cor de fundo mais clara quando pressionado */
    transform: scale(1.1); /* Aumenta a escala para criar o efeito de expansão */
}




.strong-1{
    position: relative;
    top: 10px;
    left: 160px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: relative;
top: 40px;
}
.div-1{
    position: relative;
    border: 2px solid white; 
    border-radius: 10px;
padding: 10px;
    text-align: right;
    width: 300px;
    height: 100px;
    top: 300px;
    left: 490px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: 120px;
    top: 270px;
}
@media (max-width: 768px) {
    /* Para dispositivos com largura máxima de 768px (geralmente dispositivos móveis) */
    .designer-imagem {
        top: 20px; /* Ajuste conforme necessário */
        left: 4px; /* Ajuste conforme necessário */
    }
}

@media (max-width: 768px) {
    .designer-imagem {
        max-width: 100vw;
        position: relative;
        border-radius: 50%;
        height: 40px;
        width: 40px;
        margin: auto;
        display: flex;
        border: .8px solid white;
        top: 50px;
        left: 15px;
    }
    .designer-p-1{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    position: relative;
    top: 11px;
left: 115px;
font-size: .9em;
    }
    .designer-infor{
        position: relative;
       text-align: center;
 color: white;
 font-size: 1.2em;
left: 90px;
top: 40px;
    }
    .designer-p-2{
        text-align: center;
    color: rgba(255, 255, 255, 0.908);
    font-size: .8em;
    position: relative;
    left: 115px;
    top: 10px;
    font-weight: normal;
    }
    .link-designer {
        display: inline-block;
        text-decoration: none;
        color: white;
        position: relative;
        height: 80px;
        width: 280px;
        padding: 30px;
        border: 2px solid white;
        border-radius: 10px;
        transition: background-color 0.3s, transform 0.2s ease; /* Transições suaves */
        transform-origin: center center; /* Define o ponto central como origem da transformação */
        overflow: hidden; /* Esconde o conteúdo que ultrapassar os limites do link */
        top: 300px;
    left: 10px;
    }
    
.strong-1{
    position: relative;
    top: 10px;
    left: 120px;
    font-weight: bolder;
}
.strong-2{
font-weight: normal;
position: absolute;
top: 70px;

left: 180px;
}
.designer-imagem-2{
    position: relative;
    max-width: 70px;
    left: 50px;
    top: 190px;
}
    /* Estilos para dispositivos com largura máxima de 768px (geralmente dispositivos móveis) */

    /* iPhone SE, 5, 5S, 5C */
    /* Largura: 320px, Altura: 568px */

    /* Google Pixel 2 */
    /* Largura: 411px, Altura: 731px */

    /* iPhone 6, 6S, 7, 8, X */
    /* Largura: 375px, Altura: 667px */

    /* iPhone 6 Plus, 6S Plus, 7 Plus, 8 Plus */
    /* Largura: 414px, Altura: 736px */

    /* Google Pixel 2 XL */
    /* Largura: 411px, Altura: 823px */

    /* Samsung Galaxy S8, S9 */
    /* Largura: 360px, Altura: 740px */

    /* Samsung Galaxy S8+, S9+ */
    /* Largura: 412px, Altura: 846px */

    /* iPhone 11, XR */
    /* Largura: 414px, Altura: 896px */

    /* iPhone 11 Pro, XS, X */
    /* Largura: 375px, Altura: 812px */

    /* iPhone 11 Pro Max, XS Max */
    /* Largura: 414px, Altura: 896px */

    /* Google Pixel 3, 3a */
    /* Largura: 393px, Altura: 786px */

    /* Google Pixel 3 XL, 3a XL */
    /* Largura: 412px, Altura: 823px */

    /* Samsung Galaxy S10 */
    /* Largura: 360px, Altura: 760px */

    /* Samsung Galaxy S10+ */
    /* Largura: 412px, Altura: 869px */

    /* Samsung Galaxy S10e */
    /* Largura: 360px, Altura: 740px */

    /* Google Pixel 4 */
    /* Largura: 411px, Altura: 869px */

    /* Google Pixel 4 XL */
    /* Largura: 411px, Altura: 952px */

    /* Samsung Galaxy S20 */
    /* Largura: 320px, Altura: 640px */

    /* Samsung Galaxy S20+ */
    /* Largura: 384px, Altura: 849px */

    /* Samsung Galaxy S20 Ultra */
    /* Largura: 412px, Altura: 915px */
}
